# .env
.env

# c program
c/*
c/*.o
!c/**/*.c
!c/**/*.h
!c/**/*.a
!c/**/Makefile*

# Java
**/*.class

# Scala
scala/**/project
scala/**/target

# Maven
maven/**/target

# nodejs
node/**/node_modules
node/**/package-lock.json
node/**/package.json
node/**/.serverless

# python
.idea
python/**/.venv
python/**/__pycache__/
**/.venv

**/model.safetensors
**/llama.cpp
**/*.gguf
**/traning_data
**/sft.json
**/finetuned-*

# mongodb
mongodb/backup

# oracle
oracle/node/dbConfig.js
oracle/**/node_modules
oracle/**/package-lock.json

**/*.gz
team_project/*

**/secret.json

**/node_modules
**/package-lock.json
**/package.json


# docker
docker/mysql/mysql*
docker/mongodb/mongo*
docker/mongo/mongod

**/nestjs
**/VL_*

**/data
**/*.txt
**/*.mp4
**/*.mp3
z_mediapipe/*

**/__pycache__/*